In [1]:
import numpy as np
import cirq
import qiskit
from qiskit.circuit import qpy_serialization
from qiskit import QuantumCircuit
from typing import List
import math
import pandas as pd
from IPython.display import display
from tqdm import tqdm
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import os
from pathlib import Path

In [3]:
import sys
sys.path.insert(0, "../lib")
from simulators import *

In [4]:
%load_ext autoreload
%autoreload 2

In [25]:
QASM_INPUT_DATA_FOLDER = "../data/QASMBench/medium/"
QASM_DATA_FOLDER = "../data/nisq_qasm"

In [6]:
qasm_file_paths = [str(p) for p in list(Path(QASM_INPUT_DATA_FOLDER).rglob("*.qasm"))]
qasm_file_paths

['../data/QASMBench/medium/ising_n10/ising_n10.qasm',
 '../data/QASMBench/medium/bb84_n8/bb84_n8.qasm',
 '../data/QASMBench/medium/seca_n11/seca_n11.qasm',
 '../data/QASMBench/medium/cc_n12/cc_n12.qasm',
 '../data/QASMBench/medium/qf21_n15/qf21_n15.qasm',
 '../data/QASMBench/medium/bv_n14/bv_n14.qasm',
 '../data/QASMBench/medium/simon_n6/simon_n6.qasm',
 '../data/QASMBench/medium/multiplier_n15/multiplier_n15.qasm',
 '../data/QASMBench/medium/vqe_uccsd_n8/vqe_uccsd_n8.qasm',
 '../data/QASMBench/medium/qaoa_n6/qaoa_n6.qasm',
 '../data/QASMBench/medium/multiply_n13/multiply_n13.qasm',
 '../data/QASMBench/medium/dnn_n8/dnn_n8.qasm',
 '../data/QASMBench/medium/qpe_n9/qpe_n9.qasm',
 '../data/QASMBench/medium/qft_n15/qft_n15.qasm',
 '../data/QASMBench/medium/vqe_uccsd_n6/vqe_uccsd_n6.qasm',
 '../data/QASMBench/medium/adder_n10/adder_n10.qasm',
 '../data/QASMBench/medium/sat_n11/sat_n11.qasm']

In [20]:
blacklist = [
    "../data/QASMBench/medium/cc_n12/cc_n12.qasm", # if not supported
    "../data/QASMBench/medium/qf21_n15/qf21_n15.qasm", # cu1
    "../data/QASMBench/medium/qpe_n9/qpe_n9.qasm", # cu1 not supported
    "../data/QASMBench/medium/vqe_uccsd_n8/vqe_uccsd_n8.qasm", # no measurement
    "../data/QASMBench/medium/vqe_uccsd_n6/vqe_uccsd_n6.qasm", # no measurement
]

In [36]:
def save(out_folder: str, metadata_dict: dict,
         df_platform_a: pd.DataFrame, df_platform_b: pd.DataFrame,
         platform_a_name: str, platform_b_name: str):
    """Save the results to a csv file."""
    # save the metadata to a json file
    assert "algo_name" in metadata_dict.keys()
    algo_name = str(metadata_dict["algo_name"])
    with open(os.path.join(out_folder, f"{algo_name}.json"), "w") as f:
        json.dump(metadata_dict, f)
    df_platform_a.to_csv(
        os.path.join(out_folder, f"{algo_name}_{platform_a_name}.csv"))
    df_platform_b.to_csv(
        os.path.join(out_folder, f"{algo_name}_{platform_b_name}.csv"))

In [45]:
N_EVALUATIONS = 100

In [47]:
platforms = [
    QiskitCircuit(), 
    CirqCircuit()
]

for circuit_number, qasm_path in enumerate(qasm_file_paths):
    print(f"Current circuit: {qasm_path}")
    qasm_str = open(qasm_path, 'r').read()
    if qasm_path in blacklist:
        print(f"Skipping ... {qasm_path}")
        continue
    
    platform_result_dfs = []
    
    # for each platform in (qiskit, cirq, etc)
    for p in platforms:
        print(p.platform_name)

        # create a circuit object form the qasm file
        p.from_qasm(qasm_str)
        #p.draw()
        
        # perform 30 evaluations [N_EVALUATION]
        data = []
        for i in range(N_EVALUATIONS):
            # run the circuit for 1024 or 8096 shots
            p.execute()
            data.append(p.get_result())

        # save the statistics for each combination to a dataframe
        df = pd.DataFrame.from_records(data)
        platform_result_dfs.append(df)

    for df, p in zip(platform_result_dfs, platforms):
        print(f"{p.platform_name} on circuit #{circuit_number}: {qasm_path}")
        display(df.head())
        
    df_qiskit, df_cirq = platform_result_dfs
    algo_name = qasm_path.split("/")[-1]
    metadata_dict = {
        "qasm_path": qasm_path,
        "algo_name": algo_name.replace(".qasm", ""),
        "n_qubits": int(re.search(r"(?<=n)\d*(?=\.)", algo_name).group(0)),
        "n_evaluations": N_EVALUATIONS,
    }

    print(f"Saving circuit: with simulation results")
    save(out_folder=QASM_DATA_FOLDER, metadata_dict=metadata_dict,
         df_platform_a=df_qiskit, df_platform_b=df_cirq,
         platform_a_name="qiskit", platform_b_name="cirq")

Current circuit: ../data/QASMBench/medium/ising_n10/ising_n10.qasm
qiskit
cirq
qiskit on circuit #0: ../data/QASMBench/medium/ising_n10/ising_n10.qasm

,0001101011,1001111010,1000111011,0101101010,1111111001,0010010101,0011001001,1100001100,1000001010,1011101010,...,1110000111,1101010110,0110101110,0001010110,1010010110,0100000101,0110111111,0110000101,0100000110,0111011101
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,5.0,NaN,2.0,1.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,1.0,NaN,7.0,1.0,1.0,5.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,NaN,2.0,NaN,1.0,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,NaN,NaN,3.0,NaN,3.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

cirq on circuit #0: ../data/QASMBench/medium/ising_n10/ising_n10.qasm

,0101111111,0101001101,0100101101,1111100110,0010101100,1100010011,0101110101,0001111111,0100111111,0010000111,...,1100101100,1000001100,1100010000,1000011010,1110001101,1100100111,1011011100,0000101110,1101011110,1111110000
0,7.0,8.0,2.0,3.0,5.0,1.0,2.0,4.0,2.0,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.0,2.0,3.0,4.0,NaN,NaN,NaN,5.0,NaN,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7.0,7.0,2.0,1.0,2.0,NaN,NaN,4.0,3.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8.0,NaN,NaN,NaN,2.0,NaN,NaN,1.0,3.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.0,1.0,3.0,1.0,NaN,NaN,NaN,5.0,3.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/bb84_n8/bb84_n8.qasm
qiskit
cirq
qiskit on circuit #1: ../data/QASMBench/medium/bb84_n8/bb84_n8.qasm

,0 1 0 0 0 0 0 1,0 0 1 0 0 1 0 0,0 1 1 1 0 1 0 0,0 0 1 0 0 0 0 1,0 0 0 1 0 1 0 0,0 0 1 0 0 0 0 0,0 1 1 1 0 1 0 1,0 0 1 1 0 1 0 1,0 1 0 1 0 0 0 0,0 1 0 0 0 0 0 0,...,0 0 0 1 0 0 0 0,0 0 0 1 0 1 0 1,0 0 1 1 0 1 0 0,0 1 1 0 0 1 0 1,0 1 1 1 0 0 0 1,0 1 0 1 0 1 0 1,0 0 1 1 0 0 0 0,0 1 1 0 0 0 0 1,0 1 1 1 0 0 0 0,0 0 1 1 0 0 0 1
0,37,33,34,41,22,36,23,38,38,46,...,34,28,34,39,39,28,34,26,33,28
1,24,31,37,29,42,30,35,23,29,30,...,29,29,30,25,42,30,28,40,25,27
2,41,30,27,25,40,28,32,43,37,38,...,37,32,22,38,29,27,25,37,26,30
3,27,32,40,37,27,27,34,29,30,25,...,35,40,36,38,33,30,36,37,29,36
4,22,29,33,32,39,39,26,27,33,25,...,36,35,38,26,38,35,28,20,29,36

cirq on circuit #1: ../data/QASMBench/medium/bb84_n8/bb84_n8.qasm

,0101000111000110,0000100101000110,0000010110000110,0000100101001110,0101010110001110,0000000111000110,0100100101000010,0100010110000010,0001010110000010,0100110100000010,...,0100100101001110,0101110100000110,0000000111001010,0101000111001110,0101100101000110,0101100101001010,0101100101001110,0000110100001110,0100000111000110,0100010110001110
0,22,18,15,21,25,17,21,14,21,16,...,12,15,19,13,13,14,12,14,12,12
1,16,8,16,23,20,13,8,18,19,16,...,13,9,20,16,22,19,11,13,14,14
2,12,26,20,13,22,19,14,17,10,11,...,13,17,21,19,9,17,14,19,18,21
3,18,18,17,12,13,17,20,24,12,15,...,18,17,16,15,22,13,22,11,24,17
4,18,19,12,16,11,10,9,17,17,4,...,17,19,12,16,12,16,13,24,16,15

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/seca_n11/seca_n11.qasm
qiskit
cirq
qiskit on circuit #2: ../data/QASMBench/medium/seca_n11/seca_n11.qasm

   11000000000  10000000001  11000000001  10000000000
0          267          254          246          257
1          242          243          276          263
2          251          259          246          268
3          258          235          293          238
4          262          236          260          266

cirq on circuit #2: ../data/QASMBench/medium/seca_n11/seca_n11.qasm

   111  101  100  110
0  276  269  255  224
1  257  269  270  228
2  269  237  265  253
3  264  252  262  246
4  257  262  253  252

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/cc_n12/cc_n12.qasm
Skipping ... ../data/QASMBench/medium/cc_n12/cc_n12.qasm
Current circuit: ../data/QASMBench/medium/qf21_n15/qf21_n15.qasm
Skipping ... ../data/QASMBench/medium/qf21_n15/qf21_n15.qasm
Current circuit: ../data/QASMBench/medium/bv_n14/bv_n14.qasm
qiskit
cirq
qiskit on circuit #5: ../data/QASMBench/medium/bv_n14/bv_n14.qasm

   1111111111111
0           1024
1           1024
2           1024
3           1024
4           1024

cirq on circuit #5: ../data/QASMBench/medium/bv_n14/bv_n14.qasm

   1111111111111
0           1024
1           1024
2           1024
3           1024
4           1024

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/simon_n6/simon_n6.qasm
qiskit
cirq
qiskit on circuit #6: ../data/QASMBench/medium/simon_n6/simon_n6.qasm

,011111,001111,010111,000100,010011,000111,000000,000011,001100,010100,010000,011100,001011,011000,001000,011011
0,67,76,70,53,59,74,64,75,61,59,54,64,60,66,50,72
1,61,69,50,65,65,53,67,55,66,66,54,82,63,70,58,80
2,85,66,53,58,61,58,71,65,63,69,69,56,58,66,63,63
3,81,63,68,62,67,60,71,56,63,54,60,63,53,64,70,69
4,65,75,60,59,48,77,59,68,68,74,54,70,60,62,67,58

cirq on circuit #6: ../data/QASMBench/medium/simon_n6/simon_n6.qasm

,000001,100001,011000,000010,100000,000000,111010,100010,111011,000011,100011,011010,011001,111000,111001,011011
0,75,62,70,62,53,57,46,72,61,63,70,64,82,63,70,54
1,58,69,46,60,60,62,67,70,65,65,71,46,77,71,70,67
2,60,56,62,72,68,62,65,62,72,69,68,64,69,61,54,60
3,70,57,46,72,80,67,56,70,63,65,56,66,63,65,61,67
4,55,48,66,69,73,70,64,68,71,55,84,57,59,50,74,61

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/multiplier_n15/multiplier_n15.qasm
qiskit
cirq
qiskit on circuit #7: ../data/QASMBench/medium/multiplier_n15/multiplier_n15.qasm

    001
0  1024
1  1024
2  1024
3  1024
4  1024

cirq on circuit #7: ../data/QASMBench/medium/multiplier_n15/multiplier_n15.qasm

    100
0  1024
1  1024
2  1024
3  1024
4  1024

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/vqe_uccsd_n8/vqe_uccsd_n8.qasm
Skipping ... ../data/QASMBench/medium/vqe_uccsd_n8/vqe_uccsd_n8.qasm
Current circuit: ../data/QASMBench/medium/qaoa_n6/qaoa_n6.qasm
qiskit
cirq
qiskit on circuit #9: ../data/QASMBench/medium/qaoa_n6/qaoa_n6.qasm

,011110,100000,110101,100111,000001,101111,000111,111000,000011,101011,...,101110,011010,111110,101010,111010,100110,111001,110100,100101,100001
0,4.0,13,2,12,15,10,11,9,11,1,...,18,13,12,17,15,50,8,11,12,10
1,5.0,7,5,8,6,10,8,4,15,9,...,30,7,7,8,9,48,8,7,8,7
2,4.0,17,5,14,11,9,3,5,16,3,...,33,12,16,13,11,45,20,11,13,7
3,3.0,14,6,9,6,7,12,10,12,7,...,28,10,10,11,9,45,11,11,8,3
4,3.0,10,11,18,6,9,8,8,8,6,...,25,13,11,13,11,41,10,10,11,6

cirq on circuit #9: ../data/QASMBench/medium/qaoa_n6/qaoa_n6.qasm

,011101,001011,111110,110100,010111,011000,001100,001001,010101,110010,...,100111,011110,111000,000010,000100,111111,111011,001000,010011,010010
0,19,39,9,48,18,15,12.0,20,44,15,...,12,3,8,8,7,7,14,9,10,4.0
1,17,38,14,47,11,14,8.0,28,48,10,...,17,3,5,9,9,11,8,12,7,3.0
2,23,36,11,40,12,18,5.0,32,49,5,...,10,5,4,10,11,7,10,14,8,3.0
3,25,50,8,41,9,11,NaN,33,42,11,...,12,3,4,15,8,6,6,16,11,3.0
4,22,46,10,51,17,13,4.0,24,38,14,...,14,6,13,9,14,10,10,11,9,5.0

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/multiply_n13/multiply_n13.qasm
qiskit
cirq
qiskit on circuit #10: ../data/QASMBench/medium/multiply_n13/multiply_n13.qasm

   1111
0  1024
1  1024
2  1024
3  1024
4  1024

cirq on circuit #10: ../data/QASMBench/medium/multiply_n13/multiply_n13.qasm

   1111
0  1024
1  1024
2  1024
3  1024
4  1024

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/dnn_n8/dnn_n8.qasm
qiskit
cirq
qiskit on circuit #11: ../data/QASMBench/medium/dnn_n8/dnn_n8.qasm

,00010111,10001011,01000011,01011111,11100101,11110001,01100101,11101100,10110100,00100011,...,01001110,00101001,01100100,01001011,01110001,00111001,11111100,00111111,10010010,10111010
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,3.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4.0,8.0,2.0,NaN,1.0,NaN,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,3.0,NaN,2.0,3.0,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

cirq on circuit #11: ../data/QASMBench/medium/dnn_n8/dnn_n8.qasm

,00000000,00110000,11000001,01010000,00100000,00000101,01111000,10111001,00001101,10000000,...,00010111,01100100,01011100,10010001,00101001,11101011,11010010,11001111,10101110,10101011
0,292,13,23,12,29,12,8,4.0,4.0,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,309,11,24,7,15,11,8,2.0,1.0,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,307,7,34,11,23,9,7,2.0,4.0,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,313,14,28,10,27,8,8,2.0,1.0,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,322,7,30,6,23,14,5,NaN,5.0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/qpe_n9/qpe_n9.qasm
Skipping ... ../data/QASMBench/medium/qpe_n9/qpe_n9.qasm
Current circuit: ../data/QASMBench/medium/qft_n15/qft_n15.qasm
qiskit
cirq
qiskit on circuit #13: ../data/QASMBench/medium/qft_n15/qft_n15.qasm

,010110110111110,111111001100100,010011110001001,001000110101101,011010011101011,110100011001010,100111101111010,001110010110100,101101110100110,100100110010011,...,010110100011001,100111101100110,100011000101101,101011010111101,000011101001100,000101010001010,010100010010101,101001000000101,100000110011111,111100000110000
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

cirq on circuit #13: ../data/QASMBench/medium/qft_n15/qft_n15.qasm

,111111110011111,100000100001101,011011010110100,111011101011011,000100100011000,111101100010110,111010001010101,101010000110111,110100010111010,110011111010101,...,011111010101100,010100101100010,011010110000101,101111101010010,110110110110101,110011010111010,000001010011001,000010110101100,111001010010101,100000101011011
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/vqe_uccsd_n6/vqe_uccsd_n6.qasm
Skipping ... ../data/QASMBench/medium/vqe_uccsd_n6/vqe_uccsd_n6.qasm
Current circuit: ../data/QASMBench/medium/adder_n10/adder_n10.qasm
qiskit
cirq
qiskit on circuit #15: ../data/QASMBench/medium/adder_n10/adder_n10.qasm

   10000
0   1024
1   1024
2   1024
3   1024
4   1024

cirq on circuit #15: ../data/QASMBench/medium/adder_n10/adder_n10.qasm

   00001
0   1024
1   1024
2   1024
3   1024
4   1024

Saving circuit: with simulation results
Current circuit: ../data/QASMBench/medium/sat_n11/sat_n11.qasm
qiskit
cirq
qiskit on circuit #16: ../data/QASMBench/medium/sat_n11/sat_n11.qasm

,1000,1001,0001,1010,1111,1110,1011,0000,0111,0011,0101,1100,1101,0010,0110,0100
0,2.0,1,6.0,2,106,105,106,3.0,5.0,102,91,95,97,110,96,97
1,2.0,3,5.0,7,85,98,101,6.0,3.0,94,91,98,104,106,104,117
2,7.0,7,4.0,7,99,98,93,4.0,2.0,122,97,101,97,96,108,82
3,3.0,5,4.0,3,93,91,112,4.0,1.0,110,89,108,108,107,88,98
4,4.0,5,4.0,2,117,108,89,1.0,3.0,113,98,91,116,83,97,93

cirq on circuit #16: ../data/QASMBench/medium/sat_n11/sat_n11.qasm

,1100,1000,1010,0110,0010,0111,0011,1101,1111,1011,0101,0001,0000,1110,0100,1001
0,76,108,114,99,110,86,115,101,90,99,4.0,5.0,5.0,4.0,3.0,5.0
1,102,92,90,82,114,108,114,93,102,98,4.0,4.0,5.0,3.0,7.0,6.0
2,99,105,97,99,114,99,93,89,89,104,6.0,8.0,7.0,5.0,6.0,4.0
3,98,95,91,106,83,114,105,104,102,100,4.0,6.0,4.0,4.0,2.0,6.0
4,87,103,92,96,112,126,90,96,85,102,5.0,6.0,5.0,9.0,5.0,5.0

Saving circuit: with simulation results

In [34]:
input_string = "../data/QASMBench/medium/qft_n15/qft_n15.qasm"
match = 
print(match)

15